<form>
    <div class="container">
        <div class="row">
            <mat-form-field>
                <mat-label>Project Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Revenue</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Status</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </div>  
</form>